:root {
    --branding-color:  #085f63;
    --secondary-color: #F5F3F2;
    --font-color: #394a51;
    --heading-font-family: 'Playfair Display', serif;
    --deafault-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--deafault-font-family);
}

.logo {
   max-width: 200px;
}

.logo-small {
   max-height: 100px;
}

.navbar-nav li a {
   color: var(--font-color);
}
.nav-item {
   margin-left: 70px;
   color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-size: 84px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

h3 {
   font-size: 45px;
}
 p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
 }

 .hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
 }

 .hero p {
    color: var(--font-color);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
 }

 .hero h2 {
    color: var(--font-color);
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
 }

 .content-container {
    padding: 40px 20px;
   }
   
 .content-container img {
      border-radius: 4px;
      margin: 30px auto;
   }

 .content {
    margin: 30px;

 }

 .content h1 {
    font-size: 64px;
    line-height: normal;
 }

 .content h2 {
    color: var(--font-color);
    font-family: var(--default-font-family);
    font-size: 18px;
    font-weight: bold;
 }

 .content h3 {
   font-size: 24px;
   font-family: var(--deafault-font-family);
   margin: 20px 0 0;
 }

 .content p {
    color: var(--font-color);
    font-size: 14px;
    padding: 20px;
   margin: 0;
 }

   
 .contact {
   background-color: var(--secondary-color);
   border-radius: 4px;
   margin: 24px;
   padding: 20px;
}

 .contact-box h2 {
   font-family: var(--heading-font-family);
   font-size: 48px;

}

 .social {
   background-color: var(--secondary-color);
   border-radius: 4px;
   padding: 20px;
}

 .social h3 {
   font-size: 18px;
}

 .social a {
   text-decoration: none;
   color: var(--font-color);
}

 .social a:hover {
   color: var(--branding-color);
   cursor: pointer;
}

 .btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    margin:10px;
 }

 .btn-branding:hover {
   color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
 }

 .btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
 }

 .project-description {
    padding: 100px 60px;
 }

 footer {
   margin: 60px 0;;
 }

 footer .contact-box {
   background-color: var(--secondary-color);
   padding: 30px 120px;
   border-radius: 4px;
 }

 footer .contact-box p {
   margin: 0;
 }

 footer .certificates {
   background-color: var(--secondary-color);
   padding: 30px 120px;
 }
footer .email-link {
   text-decoration: none;
   color: black;
   font-size: 24px;
   text-align: center;
}

footer .email-link:hover {
   color: var(--branding-color);
}

footer .social-links a {
   margin: 0 20px;
   color: var(--branding-color);
   background-color: var(--secondary-color);
   padding: 10px 15px;
   font-size: 18px;
   border-radius: 50%;
   transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
   color: white;
   background-color: var(--branding-color);
}

 @media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }

    h4 {
      font-size: 25px;
    }

    .btn-branding {
      font-size: 16px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }

    .content-container {
      padding: 40px 20px;
    }
    .content {
        text-align: center;
        padding: 0;
    }

    .content h1 {
      font-size: 44px;
    }
    .content-container img {
        margin: 30px;
    }
    img {
      max-height: 300px;
   }

   footer .contact-box {
   padding: 30px;
 }
 }

 @media (max-width: 550px) {
   .nav-item {
   margin-left: 20px;
}
 }